.get-events-container {
  padding: 2rem;
}

.get-events-container h1 {
  /* text-align: center; */
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr)); /* Ensures consistent card size */
  gap: 1.5rem;
  justify-content: center; /* Ensures cards are centered */
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.card-actions button {
  flex: 1;
  margin: 0 0.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Makes all cards equal height */
}
